body {
    font-family: 'Arial', sans-serif;
    background-image: url('index.png');
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

.div1 {
    background-color: #ffcc00; /* Bright yellow background color - banana */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000000; /* Pink heading color - strawberry */
}

p {
    color: #000000; /* Sky blue text color - blueberry */
}

#wordDisplay {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff99cc; /* Light pink text color - raspberry */
}

#wordImage {
    width: 200px; /* Adjust the width to your desired value */
    height: 200px; /* Adjust the height to your desired value */
    margin-bottom: 20px;
}





#userInput {
    padding: 8px;
    font-size: 16px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffcc00; /* Bright yellow button color - banana */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Smooth transformation */
}

button:hover {
    background-color: #ff9966; /* Lighter orange on hover - peach */
    transform: scale(1.1); /* Bouncing effect on hover */
}

#result, #attempts, #scoreboard {
    margin-top: 10px;
    font-weight: bold;
}

#result {
    color: #ff6666; /* Coral result color - watermelon */
}

#scoreboard {
    color: #66ff66; /* Lime green scoreboard color - kiwi */
}

.flying-word {
    position: absolute;
    font-size: 24px; /* Larger font size */
    opacity: 0; /* Start with zero opacity */
    animation: flyWord 15s infinite; /* Adjusted animation duration to 15 seconds */
}

.flying-word:nth-child(1) {
    color: #ffcc00; /* Bright yellow - banana */
}

.flying-word:nth-child(2) {
    color: #ff6699; /* Pink - strawberry */
}

.flying-word:nth-child(3) {
    color: #66ccff; /* Sky blue - blueberry */
}

.flying-word:nth-child(4) {
    color: #ff99cc; /* Light pink - raspberry */
}

.flying-word:nth-child(5) {
    color: #ffcc00; /* Bright yellow - banana */
}
